@font-face {
  font-family: monofur;
  src: url(fonts/monofur/monof55.ttf);
}

@font-face {
  font-family: monofur;
  src: url(fonts/monofur/monof56.ttf);
  font-style: italic;
}

@font-face {
  font-family: tendrilis;
  src: url(fonts/tendrilis/Tendrilis-Regular.ttf);
  font-style: tendrilis
}


@keyframes animatedBackground {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: -160vh;
  }
}
